#perseo-multilang-gpt img {
    width: auto;
    height: 29px;
    padding: 3px;
}

#perseo-multilang-gpt {
    margin-left: auto;
    position: relative; 
    margin-right: 5px; 
}

#perseo-multilang-gpt img:hover {
    opacity: 0.8;
    cursor: pointer;
}

#lang-dropdown {
    position: absolute;
    top: 100%;  
    left: 0;  
    z-index: 1;
    display: none;
    background-color: #3E92A2;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    flex-direction: column;
}

.current-lang-wrapper {
    background-color: #3E92A2;
    border-radius: 5px;
}

.perseo-multilang-widget {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.multilang-no-radius {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
